name: Publish Python Package

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      run: python -m pip install --upgrade pip uv
    - name: Build and publish
      run: |
        uv build
        uv publish --token "${{ secrets.PYPI_TOKEN }}"
